<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animaflip - Administration</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<style> 
    .card {
        width: 75%;
    }
</style>
<body>
    <div class="container">
        <h1>Tableau de bord Animaflip - Administration</h1>
        <p>Bienvenue, {{ user.username }} (Rôle: {{ user.role }})</p>
        <a href="/admin/logout" class="btn btn-back">Déconnexion</a>

        
        <div class="card">
            <div class="card-title">
                <div class="title-section">
                    <h2>Gestion des utilisateurs</h2>
                    <button class="info-btn" onclick="toggleInfoPanelUser()">
                        <span class="info-icon">ℹ️</span> Info
                    </button>
                </div>
                <div id="info-panel-user" class="info-panel">
                    <h3>Modification de l'utilisateur: Affectation de ses thèmes</h3>
                </div>
            </div>

            <div class="spacer">
                <!-- Ajouter le token directement dans l'URL -->
                <a href="/admin/user/create/{{ token }}" class="btn">Ajouter un utilisateur</a>
            </div>
    
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nom d'utilisateur</th>
                    <th>Rôle</th>
                    <th>Actions</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <a href="/admin/user/{{ user.id }}/edit/{{ token }}" class="btn">Modifier</a>
                        <form method="POST" action="/admin/user/{{ user.id }}/delete/{{ token }}" style="display:inline;">
                            <button type="submit" class="btn btn-delete">Supprimer</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
        
        <div class="card">
            <div class="card-title">
                <div class="title-section">
                    <h2>Gestion des thèmes</h2>
                    <button class="info-btn" onclick="toggleInfoPanelTheme()">
                        <span class="info-icon">ℹ️</span> Info
                    </button>
                </div>
                <div id="info-panel-theme" class="info-panel">
                    <h3>Modification d'un thème : Gestion de ses animations</h3>
                </div>
            </div>

            <div class="spacer">
                <a href="/admin/theme/create/{{ token }}" class="btn">Ajouter un nouveau thème</a>
            </div>
    
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Libellé</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for theme in themes %}
                    <tr>
                        <td>{{ theme.id }}</td>
                        <td>{{ theme.libelle }}</td>
                        <td>
                            <a href="/admin/theme/{{ theme.id }}/edit/{{ token }}" class="btn">Modifier</a>
                            <form action="/admin/theme/{{ theme.id }}/delete/{{ token }}" method="POST" style="display: inline;">
                                <button type="submit" class="btn btn-delete">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
<script>
    function toggleInfoPanelUser() {
        var infoPanelUser = document.getElementById("info-panel-user");
        
        if (infoPanelUser.style.display === "none" || infoPanelUser.style.display === "") {
            infoPanelUser.style.display = "block";
        } else {
            infoPanelUser.style.display = "none";
        }
    }
    function toggleInfoPanelTheme() {
        var infoPanelTheme = document.getElementById("info-panel-theme");
        
        if (infoPanelTheme.style.display === "none" || infoPanelTheme.style.display === "") {
            infoPanelTheme.style.display = "block";
        } else {
            infoPanelTheme.style.display = "none";
        }
    }
</script>