<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Utilisateur</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div class="container">
        <div class="spacer">
            <a href="/admin/dashboard/{{ token }}" class="btn btn-back">Retour</a>
        </div>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}

        <div class="card">
            <div class="card-title">
                <h2>{{ user ? 'Modifier' : 'Créer' }} un utilisateur</h2>
            </div>
            <form class="form-custom" method="POST" action="{{ user ? '/admin/user/' ~ user.id ~ '/edit/' ~ token : '/admin/user/create/' ~ token }}">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username" value="{{ user.username ?? '' }}" required>

                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" {{ user ? '' : 'required' }}>

                <label for="role">Rôle</label>
                <select style="margin-bottom: 20px;" id="role" name="role">
                    <option value="admin" {{ user.role == 'admin' ? 'selected' : '' }}>Admin</option>
                    <option value="user" {{ user.role == 'user' ? 'selected' : '' }}>Utilisateur</option>
                </select>

                <button type="submit">{{ user ? 'Mettre à jour' : 'Créer' }}</button>
            </form>
        </div>

        <br>
        
        
        {% if user %}
            <div class="card">
                <div class="card-title">
                    <h2>Affectation des thèmes de l'utilisateur : {{user.username}}</h2>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Libellé</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for theme in themes %}
                        <tr>
                            <td>{{ theme.id }}</td>
                            <td>{{ theme.libelle }}</td>
                            <td class="center-box">
                                {% if theme.assigned %}
                                <form method="POST" action="/admin/user/{{ user.id }}/unassign-theme/{{ theme.id }}/{{ token }}">
                                    <button type="submit" class="btn assign-btn btn-delete">Désaffecter</button>
                                </form>
                                {% else %}
                                <form method="POST" action="/admin/user/{{ user.id }}/assign-theme/{{ theme.id }}/{{ token }}">
                                    <button type="submit" class="btn assign-btn">Affecter</button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</body>
</html>